extends ./layout/public

block styles
    link( rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" )

//- Define bloque de contenido de la pagina
block page_body
    .py-10
        h1( class="text-center text-3xl mb-6" ) Ubicaciones

        div( class="flex flex-col md:flex-row items-center py-10 gap-4" )
            h2( class="text-sm uppercase text-gray-800 font-bold" ) Filtrar propiedades:
            div( class="w-full md:w-auto flex items-center gap-2" )
                label( for="categories" class="text-sm uppercase w-24 text-gray-500 font-bold" ) Categorias
                select( id="categories" class="flex-1 bg-white w-full px-3 py-2 border border-gray-300 rounded-md shadow" )
                    option( value="" ) - Seleccione -
                    each category in categories
                        option( value=`${ category.id }` ) #{ category.name }

            div( class="w-full md:w-auto flex items-center gap-2" )
                label( for="prices" class="text-sm uppercase w-24 text-gray-500 font-bold" ) Precios
                select( id="prices" class="flex-1 bg-white w-full px-3 py-2 border border-gray-300 rounded-md shadow" )
                    option( value="" ) - Seleccione -
                    each price in prices
                        option( value=`${ price.id }` ) #{ price.range }

        div( id="home-map" class="h-[600px]" )

        //- pre( class="my-10" )
        //-     code #{ JSON.stringify( categories, undefined, 4 ) }

        section( class="py-5" )
            h2( class="text-center text-4xl font-extrabold pt-10" ) Casas para la venta
            div( class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-14" )
                each house in houses 
                    section( class="bg-white shadow rounded-lg" )
                        img( 
                            class="object-cover h-72 w-full" 
                            src=`/uploads/${ house.image }`
                            alt=`Imagen casa: ${ house.ad_title }`
                        )
                        div( class="p-5 space-y-2" )
                            h3( class="text-2xl font-bold" )= house.ad_title
                            p( class="text-sm text-gray-600" )  Habitaciones 
                                span( class="text-gray-800 font-bold" )= house.bedrooms
                            p( class="text-sm text-gray-600" )  Baños 
                                span( class="text-gray-800 font-bold" )= house.wc
                            p( class="text-sm text-gray-600" )  Precio
                                span( class="text-gray-800 font-bold" )= house.price.range
                            a( 
                                href=`/real-estate/${ house.id }` 
                                class="bg-indigo-600 w-full text-center block font-bold text-white p-2 rounded uppercase"
                            ) Ver propiedad

        section( class="py-5" )
            h2( class="text-center text-4xl font-extrabold pt-10" ) Apartamentos para la venta
            div( class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-14" )
                each apartment in apartments 
                    section( class="bg-white shadow rounded-lg" )
                        img( 
                            class="object-cover h-72 w-full" 
                            src=`/uploads/${ apartment.image }`
                            alt=`Imagen casa: ${ apartment.ad_title }`
                        )
                        div( class="p-5 space-y-2" )
                            h3( class="text-2xl font-bold" )= apartment.ad_title
                            p( class="text-sm text-gray-600" )  Habitaciones 
                                span( class="text-gray-800 font-bold" )= apartment.bedrooms
                            p( class="text-sm text-gray-600" )  Baños 
                                span( class="text-gray-800 font-bold" )= apartment.wc
                            p( class="text-sm text-gray-600" )  Precio
                                span( class="text-gray-800 font-bold" )= apartment.price.range
                            a( 
                                href=`/real-estate/${ apartment.id }` 
                                class="bg-indigo-600 w-full text-center block font-bold text-white p-2 rounded uppercase"
                            ) Ver propiedad
        

block scripts
        script( src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" )
        script( src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js" )
        script( src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js" )
        script( src="/js/home_page_map.js" )