extends ./layout/public

block styles
    link( rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" )

//- Define bloque de contenido de la pagina
block page_body
    .py-10
        h1( class="text-center text-3xl mb-6" ) Ubicaciones

        div( class="flex flex-col md:flex-row items-center py-10 gap-4" )
            h2( class="text-sm uppercase text-gray-800 font-bold" ) Filtrar propiedades:
            div( class="w-full md:w-auto flex items-center gap-2" )
                label( for="categories" class="text-sm uppercase w-24 text-gray-500 font-bold" ) Categorias
                select( id="categories" class="flex-1 bg-white w-full px-3 py-2 border border-gray-300 rounded-md shadow" )
                    option( value="" ) - Seleccione -
                    each category in categories
                        option( value=`${ category.id }` ) #{ category.name }

            div( class="w-full md:w-auto flex items-center gap-2" )
                label( for="prices" class="text-sm uppercase w-24 text-gray-500 font-bold" ) Precios
                select( id="prices" class="flex-1 bg-white w-full px-3 py-2 border border-gray-300 rounded-md shadow" )
                    option( value="" ) - Seleccione -
                    each price in prices
                        option( value=`${ price.id }` ) #{ price.range }

        div( id="home-map" class="h-[600px]" )

        //- pre( class="my-10" )
        //-     code #{ JSON.stringify( categories, undefined, 4 ) }
        
        

block scripts
        script( src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" )
        script( src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js" )
        script( src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js" )
        script( src="/js/home_page_map.js" )