extends ../layout/admin

block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    // - Ponemos el Token del formulario en la cabecera
    meta( name="csrf-token" content=`${ csrf_token }` )

//- Define bloque de contenido de la pagina
block page_body
    .py-10
        h1( class="text-4xl my-10 font-extrabold text-center" ) Bienes
            span( class="font-normal" ) Raices
        h2( class="text-center text-2xl" ) #{ name_page }

        pre( class="text-center my-10" )
            code #{ JSON.stringify( data ) }

        if errors 
            .max-w-md.mx-auto.my-10
                each err in errors
                    p( class="bg-red-500 text-white text-center text-xs rounded shadow p-2 mb-1" ) #{ err.msg }
        
        div( class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10" )
            //- NOTA: La clase 'dropzone' le permite identificar a Dropzone el formulario que implementara subida de archivos
            form( id="realestate-image" class="dropzone border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center" method="post" action=`/real-estate/add-image/${ realestate.id }` )
                input( type="hidden" name="_csrf" value=`${ csrf_token }` )

            //- NOTA: El boton no debe estar dentro del cuerpo del formulario que implementa Dropzone
            div 
                button( id="publish" type="button" class="mt-5 w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer rounded-md" ) #{ 'Publicar propiedad' }

block scripts
    script( src="/js/add_image.js" )