extends ../layout/admin

//- Define bloque de contenido de la pagina
block page_body
    .py-10
        h2( class="text-center text-2xl" ) #{ name_page }

        a( href="/real-estate" class="bg-indigo-400 hover:bg-indigo-600 rounded text-white text-sm text-center py-2 px-10 my-5 inline-block w-full sm:w-auto" ) Volver

        //- pre= JSON.stringify( messages, false, 4 )

        if messages.length 
            section( class="mx-auto bg-white max-w-4xl shadow rounded-lg" )
                ul( class="divide-y divide-gray-300" )
                    each message in messages
                        li
                            section( class="p-6 w-full flex flex-col sm:flex-col sm:items-start sm:justify-between space-y-8 sm:space-y-0 gap-2" )
                                p( class="font-bold text-gray-800" ) Nombre: 
                                    span( class="font-normal" ) #{ message.user.name }

                                p( class="font-bold text-gray-800" ) Correo: 
                                    span( class="font-normal" ) #{ message.user.email }

                                p( class="font-bold text-gray-800" ) Mensaje: 
                                    span( class="font-normal" ) #{ message.message }
                                
                                p( class="font-bold text-gray-800" ) Recibido: 
                                    span( class="font-normal" ) #{ formatDate( message.createdAt ) }
        else
            section( class="bg-white shadow rounded-lg" )
                p( class="text-center text-gray-600 p-5 rounded-lg" ) No hay mensajes