extends ../../layout/public

//- Define bloque de contenido de la pagina
block page_body
    .py-10
        h1( class="text-center text-3xl mb-6" ) #{ name_page }

        //- pre( class="my-10" )
        //-     code #{ JSON.stringify( realestate, undefined, 4 ) }
        
        div 
            p( class="font-bold text-gray-600 text-sm" ) Categoría: 
                a( href="#" class="font-normal" ) #{ realestate.category.name } 

        article( class="mt-5 md:flex md:gap-4" )
            section( class="md:w-2/3 bg-white shadow rounded-lg" )
                img( src=`/uploads/${ realestate.image }`, alt=`Imagen propiedad: ${ realestate.ad_title }` class="w-full block rounded-t-lg" )
                div( class="px-5 py-7 space-y-4" ) 
                    p #{ realestate.description }
                    h2( class="text-2xl leading-6 font-bold text-gray-900" ) Detalle de la propiedad
                    div( class="grid grid-cols-1 md:grid-cols-2 gap-2" )
                        p( class="text-gray-600 font-bold text-xs" ) Habitaciones
                            span( class="text-gray-800 block text-lg" ) #{ realestate.bedrooms }
                        p( class="text-gray-600 font-bold text-xs" ) Baños
                            span( class="text-gray-800 block text-lg" ) #{ realestate.wc }
                        p( class="text-gray-600 font-bold text-xs" ) Parqueaderos
                            span( class="text-gray-800 block text-lg" ) #{ realestate.parking_lot }
                        p( class="text-gray-600 font-bold text-xs" ) Precio
                            span( class="text-gray-800 block text-lg" ) #{ realestate.price.range }

            section( class="md:w-1/3" ) 2