extends ../layout/index

//- Define bloque de contenido de la pagina
block page_body
    .py-10
        h1( class="text-4xl my-10 font-extrabold text-center" ) Bienes
            span( class="font-normal" ) Raices
        h2( class="text-center text-2xl" ) #{ name_page }

        if errors 
            .max-w-md.mx-auto.my-10
                each err in errors
                    p( class="bg-red-500 text-white text-center text-xs rounded shadow p-2 mb-1" ) #{ err.msg }
        
        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow.rounded-md

                form( class="space-y-5" method="post" action=`/auth/recover-password/${ data ? data.token : '' }` noValidate )
                    input( type="hidden" name="_csrf" value=`${ csrf_token }` )

                    div 
                        label( for="password" class="block text-sm uppercase text-gray-500 mb-2 font-bold") Nueva contraseña
                        input( type="password" id="password" name="new_password" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="**********" value=`${ data && data.new_password ? data.new_password : '' }` )
                    div 
                        label( for="confirm_password" class="block text-sm uppercase text-gray-500 mb-2 font-bold") Confirmar contraseña
                        input( type="password" id="confirm_password" name="confirm_new_password" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="**********" value=`${ data && data.confirm_new_password ? data.confirm_new_password : '' }` )
                    
                    div 
                        input( type="submit" value="Crear nueva contraseña" class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer rounded-md" )